<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= erb :header %>
</head>

<body id="download">

    <div id="preso">
        <h1><%= I18n.t('error.file_not_found') %></h1>
        <h2><%= @env['REQUEST_PATH'] %>
    </div>
    <div id="footer">
        <span id="debugInfo"></span>
    </div>
</body>
</html>
