  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title %></title>

  <meta name="viewport" content="width=device-width"/>

  <% if @favicon %>
    <link rel="icon" href="<%= @favicon %>"/>
  <% end %>

  <link rel="stylesheet" type="text/css" href="css/showoff.css" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome-4.4.0/css/font-awesome.min.css">

  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

  <script type="text/javascript" src="js/showoff.js"></script>

  <% css_files.each do |css_file| %>
    <% alternate = ShowOffUtils.default_style?(css_file) ? '' : 'alternate ' %>
    <link rel="stylesheet" href="file/<%= css_file %>" type="text/css"/>
  <% end %>

  <% js_files.each do |js_file| %>
    <script type="text/javascript" src="file/<%= js_file %>"></script>
  <% end %>
