<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Presentation</title>

	<link rel="stylesheet" href="css/showoff.css" type="text/css"/>

	<script type="text/javascript" src="/js/jquery-1.4.min.js"></script>
  <script type="text/javascript" src="/js/fg.menu.js"></script> 
	<script type="text/javascript" src="/js/showoff.js"></script>
  <script type="text/javascript" src="/js/jTypeWriter.js"> </script>

  <script type="text/javascript" src="/js/sh_main.min.js"></script>
  <script type="text/javascript" src="/js/sh_lang/sh_ruby.min.js"></script>

  <link type="text/css" href="/css/fg.menu.css" media="screen" rel="stylesheet" /> 
  <link type="text/css" href="/css/theme/ui.all.css" media="screen" rel="stylesheet" /> 
  <link type="text/css" href="/css/sh_style.css" rel="stylesheet" >



  <% css_files.each do |css_file| %>
	  <link rel="stylesheet" href="file/<%= css_file %>" type="text/css"/>
  <% end %>

  <% js_files.each do |js_file| %>
    <script type="text/javascript" src="/file/<%= js_file %>"></script>
  <% end %>

  <script type="text/javascript">
  $(function(){
    setupPreso()
  });
  </script>
</head>

<body>
  

<a tabindex="0" href="#search-engines" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="navmenu"><span class="ui-icon ui-icon-triangle-1-s"></span>slides</a> 
<div id="navigation" class="hidden"></div>

<div id="help">
  <table>
    <tr><td class="key">space, &rarr;</td><td>next slide</td></tr>
    <tr><td class="key">&larr;</td><td>previous slide</td></tr>
    <tr><td class="key">d</td><td>debug mode</td></tr>
    <tr><td class="key">c</td><td>table of contents (vi)</td></tr>
    <tr><td class="key">f</td><td>toggle footer</td></tr>
    <tr><td class="key">z</td><td>toggle help (this)</td></tr>
  </table>
</div>

<div id="preso">loading presentation...</div>
<div id="footer">
  <span id="slideInfo"></span>
  <span id="debugInfo"></span>
</div>

<div id="slides"></div>

</body>
</html>
