<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Presentation</title>

	<link rel="stylesheet" href="css/showoff.css" type="text/css"/>
	<link rel="stylesheet" href="css/onepage.css" type="text/css"/>

	<script type="text/javascript" src="/js/jquery-1.4.min.js"></script>
	<script type="text/javascript" src="/js/jquery-print.js"></script>	
	<script type="text/javascript" src="/js/showoff.js"></script>

  <script type="text/javascript" src="/js/sh_main.min.js"></script>
  <script type="text/javascript" src="/js/onepage.js"></script>

  <link type="text/css" href="/css/theme/ui.all.css" media="screen" rel="stylesheet" /> 
  <link type="text/css" href="/css/sh_style.css" rel="stylesheet" >

  <% css_files.each do |css_file| %>
    <link rel="stylesheet" href="file/<%= css_file %>" type="text/css"/>
  <% end %>

  <script type="text/javascript">
  $(function(){
    setupOnePage()
  });
  </script>

</head>

<body>

<div id="slides">
  <%= @slides %>
</div>

</body>
</html>