/* Sizes must be defined for child elements to use them in fluid calculations. */
#main { height: 100%; }

div.zoomed {
  zoom: 50%;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
}

#preso { margin: 2%; }

#main h2 { 
  text-align: left;
  font-size: 1em;
}

#topbar {
  height: 5%;
  background: #cfcfcf;
  vertical-align: middle;
  text-align: right;
  color: #000;
}
  #slideSource {
    float: left;
    margin: 0.25em 0 0 0.5em;
  }
  #links {
    font-size: 80%;
  }
  #links a {
    padding: 0.5em;
  }


#center {
  height: 75%;
  background-color: #fff;
}
  #sidebar {
    width: 25%;
    height: 100%;
    float: left;
    background-color: #ccc;
  }
    #timerSection {
      height: 5%;
      margin-left: 0.5em;
    }
    .tBlue   { background: #79d; }
    .tGreen  { background: #9d9; }
    .tRed    { background: #d99; }
    .tYellow { background: #dd9; }
    
    #slidemenu {
      height: 95%;
      margin-right: 2px;
      background-color: #fff;
    }
    #slidemenu ul li {
      padding: 5px;
    }
    
    .menu {
      height: 100%;
      max-height: 100%;
      overflow:auto;
    }
    
    .menu a {
      display: block;
      color: #000;
      margin: 1px;
      padding: 0.25em;     
      -moz-border-radius: 0.25em;
      -webkit-border-radius: 0.25em;
      -khtml-border-radius: 0.25em;
      border-radius: 0.25em;
    }
    .menu a:hover {
      margin: 0;
      border: 1px solid #ccc;
      background-color: #dedede;
    }
    .menu > ul > li > ul {
      padding-left: 20px;
      font-size: 80%;
    }
    .menu > ul > li > a {
      padding: 10px;
      background: #eee;
    }
 
  
  #preview {
    width: 75%;
    height: 95%;
    float: right;
    overflow: scroll;
    background: #eee;
  }
  
  #statusbar {
    width: 75%;
    height: 5%;
    float: right;
    clear: right;
    vertical-align: middle;
  }
    #progress {
      margin-left: 1em;
    }
    #debugInfo {
      display: inline;
    }
    #zoomer {
      float: right;
    }


#bottom {
  height: 15%;
}

  #notes { 
    background: #ff9;
    font-size: 1em;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 2em;
  }
  
  #notes ol, #notes ul {
    padding-left: 1em;
  }
  #notes ol {
    list-style-type: decimal;
  }
  #notes ul {
    list-style-type: disc;
  }




a.controls {
  text-decoration: none;
  padding: 0 0.25em 0.1em 0.25em;
  background-color: #fff2ce;
  border: 1px solid #ccc;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
}