/* Sizes must be defined for child elements to use them in fluid calculations. */
#main {
  height: 100%;
  height: 100vh;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: column;
          flex-flow: column;
  min-width: 630px;
}

div.zoomed {
  zoom: 50%;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
}

#topbar {
  min-height: 24px;
  background: #222222;
  vertical-align: middle;
  text-align: right;
  color: #fff;
}

  #slideSource {
    float: left;
    margin: 0.5em 0 0 0.5em;
  }
    #slideSource a {
      color: #fff;
      text-decoration: none;
    }
    #slideSource a:hover {
      background-color: #555;
    }
  #links {
    position: relative;
    top: 0.7em;
    padding: 0 1em;
  }
  #links a {
    color: #fff;
    padding: 0.35em;
    text-decoration: none;
    border: 1px solid #ccc;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -khtml-border-radius: 0.5em;
    border-radius: 0.5em;
  }
  #links a:hover {
    background-color: #555;
  }

  #topbar #links a.enabled {
    background-color: #003d96;
  }

  #topbar #links a.popdown {
    background-image: url(popdown.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 16px;
  }

  #topbar #links a.popout {
    background-image: url(popout.png);
    background-position: top 1px right 1px;
    background-repeat: no-repeat;
    padding-right: 18px;
  }

  #topbar #links .mobile {
    display: none;
  }

  #topbar #links span.spacer {
    width: 2em;
    display: inline-block;
  }

#center {
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
  -webkit-flex: 5;
          flex: 5;
  background-color: #fff;
  min-height: 0px;
}
  #sidebar {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: column;
            flex-flow: column;
    -webkit-flex: 1;
            flex: 1;
    -webkit-order: 0;
            order: 0;
    min-width: 210px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-right: 1px solid #ccc;
  }
    #timerSection {
      margin-bottom: 0.25em;
      padding-left: 0.5em;
      height: 2.15em;
      min-height: 2.15em;
      line-height: 2.15em;
      vertical-align: middle;
    }

    #timerSection #timerInfo {
      margin-left: 25px;
      font-weight: bold;
    }

    #timerSection input[type='button'] {
      float: right;
    }

    .tBlue   { background: #79d; }
    .tGreen  { background: #9d9; }
    .tRed    { background: #d99; }
    .tYellow { background: #dd9; }

    #sidebar #feedbackPace {
      height: 40px;
      min-height: 40px;
      position: relative;
      background: transparent url(pace.png) no-repeat center bottom;
    }
    #sidebar #feedbackPace #paceFast,
    #sidebar #feedbackPace #paceSlow {
      font-size: 1.5em;
      font-weight: bold;
      display: none;
    }
    #sidebar #feedbackPace #paceFast {
      float: left;
      margin-left: 1em;
    }
    #sidebar #feedbackPace #paceSlow {
      float: right;
      margin-right: 1em;
    }
    #sidebar #feedbackPace #paceMarker {
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
    	-ms-transform: translate(-50%, 0);
    	-o-transform: translate(-50%, 0);

    }

    #slidemenu {
      -webkit-flex: 1;
              flex: 1;
      background-color: #fff;
    }
    #slidemenu ul li {
      padding: 5px;
    }

    .menu {
      -webkit-flex: 1;
              flex: 1;
      overflow:auto;
      background-color: #fff;
      font-family: helvetica;
    }

    .menu ul {
      list-style: none;
      padding: 0;
    }

    .menu ul li {
      padding: 5px;
    }

    .menu a {
      display: block;
      color: #000;
      margin: 1px;
      padding: 0.25em;
      -moz-border-radius: 0.25em;
      -webkit-border-radius: 0.25em;
      -khtml-border-radius: 0.25em;
      border-radius: 0.25em;
      text-decoration: none;
    }
    .menu li.highlighted a,
    .menu a:hover {
      margin: 0;
      border: 1px solid #ccc;
      background-color: #dedede;
    }
    .menu > ul > li > ul {
      padding-left: 20px;
      font-size: 120%;
      font-weight: 100;
    }
    .menu > ul > li > a {
      padding: 10px;
      background: #eee;
      font-size: 140%;
    }

  #presenter {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: column;
            flex-flow: column;
    -webkit-flex: 4;
            flex: 4;
    -webkit-order: 1;
            order: 1;
    min-width: 0px;
  }

    #preview {
      -webkit-flex: 1;
              flex: 1;
      overflow: auto;
      background: #eee;
      padding: 1em;
    }

      #preview .content form div.tools input[type=button].display {
        display: inline;
      }
      #preview .content form div.tools input[type=submit] {
        display: none;
      }

      #preview .content form label.correct {
        font-weight: 900;
        border-bottom: 4px solid black;
      }

      img#disconnected {
        margin: 0.5em 1em;
      }

      #preview .content ul li.incremental.hidden {
        visibility: visible;
        color: #ccc;
      }

    #statusbar {
      height: 22px;
      line-height: 22px;
      text-transform: uppercase;
      vertical-align: middle;
      background: #fff;
    }
      #progress {
        margin-left: 1em;
        position: relative;
      }
      #debugInfo {
        display: inline;
      }
      #enableFollower,
      #enableRemote {
        float: right;
        margin: 1px;
        padding: 0.1em;
      }
      #enableRemote.active {
        background-color: #fff8bf;
        -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
        -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
        box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
      }
      #zoomer {
        float: right;
      }

#bottom {
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
  height: 150px;
  background: #F5ED9B;
  border-top: 1px solid #ccc;
}

  #questions {
    -webkit-flex: 1;
            flex: 1;
    -webkit-order: 0;
            order: 0;
    min-width: 210px;
    border-right: 1px solid #ccc;
    font-size: 1.2em;
    overflow: auto;
    height: 100%;
  }
  #questions h3 {
    font-size: 1.25em;
  }
  #questions ul {
    margin-left: 1.5em;
    margin-right: 0.25em;
  }
  #questions ul li {
    list-style-type: disc;
  }
  #questions ul li:hover {
    background: #dedede url(close.png) no-repeat top right;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -khtml-border-radius: 0.25em;
    border-radius: 0.25em;
  }

  #notes {
    -webkit-flex: 4;
            flex: 4;
    -webkit-order: 1;
            order: 1;
    font-size: 1.5em;
    overflow: auto;
    height: 100%;
    font-family: helvetica;
    font-weight: 100;
  }
  #notes p,
  #notes h1,
  #notes h2,
  #notes h3,
  #notes h4,
  #notes ol,
  #notes ul {
    margin-right: 0.75em;
    padding-left: 0.25em;
  }
  #notes p {
    padding: 0.25em;
    margin-bottom: 0.5em;
  }
  #notes ol, #notes ul {
    padding-left: 2em;
    padding-top: 0.25em;
    margin-bottom: 0.5em;
  }
  #notes ol {
    list-style-type: decimal;
  }
  #notes ul {
    list-style-type: disc;
  }

  #notes div.rendered.form span.count {
    display: inline;
    position: absolute;
    top: 3px;
    right: 4px;
    z-index: 10;
    font-size: 2.5em;
    background-color: #ddd;
    border: 1px solid #333;
    border-radius: 0 0.15em 0 0;
    box-shadow: 2px 2px 2px #888;
  }

  #bottom #notes div.personal {
    float: right;
    border-left: 4px solid #999;
    border-bottom: 4px solid #999;
    border-radius: 0 0 0 0.5em;
    padding: 0.1em 0 0.25em 0.25em;
    margin: 0 0 1em 1em;
    background: #eee;
    max-width: 25%;
  }

  #bottom #notes div.personal h1 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
  }

a.controls {
  text-decoration: none;
  padding: 0 0.25em 0.1em 0.25em;
  background-color: #fff2ce;
  border: 1px solid #ccc;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* iPhone */
/* Portrait */
@media screen and (max-width: 480px)
{
  #main {
    min-width: 0;
  }

  #center {
    -webkit-flex-flow: column;
            flex-flow: column;
    -webkit-flex: 1;
            flex: 1;
  }
  #bottom {
    -webkit-flex-flow: column;
            flex-flow: column;
    -webkit-flex: 1;
            flex: 1;
  }
    #bottom #questions {
      border-bottom: 1px solid #ccc;
      -webkit-flex: 1;
              flex: 1;
    }
    #bottom #notes {
      -webkit-flex: 2;
              flex: 2;
    }
  #topbar,#main,#center,#preview,#bottom,#sidebar {
    margin: 0;
    padding: 0;
  }
  #topbar #slideSource {
    max-width: 256px;
    overflow: hidden;
    height: 16px;
    padding-left: 16px;
  }
  #topbar #slideSource #slideFile {
    display: inline-block;
    width: 205px;
    max-width: 205px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #topbar #links .desktop,
  #zoomer,
  #separator,
  #stylepicker {
    display: none !important;
  }
  #topbar #links {
    top: 0.5em;
    padding: 0 0.5em;
  }
  #topbar #links .mobile {
    display: inline;
  }

  #topbar {
    background-image: url(menu.png);
    background-position: left center;
    background-repeat: no-repeat;
  }
  #sidebar {
    display: block;
    position: absolute;
    top: 25px;
    z-index: 99999;
    height: 100%;
    overflow: scroll;
    display: none;
  }
    #sidebar #timerSection,
    #sidebar #feedbackPace {
      display: none;
    }


  #statusbar {
    height: auto;
    line-height: inherit;
  }
  #statusbar #enableRemote,
  #statusbar #enableFollower {
    border: none;
    margin: 0;
    padding: 0;
  }
  #statusbar #remoteToggle,
  #statusbar #followerToggle {
    line-height: 1em;
    height: 1em;
    margin: 0 0 0 0.25em;
    padding: 0;
  }
  #bottom {
    height: 245px;
    overflow: auto;
  }
  #preso {
    width: 976px;
    margin: 0;
    padding: 0;
    margin-left:auto;
    margin-right:auto;
  }
  #preso .slide {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
