div.zoomed {
  zoom: 50%;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
}

#preso { margin-top: 20px; }

#main h2 { 
  text-align: left;
  font-size: 1.5em;
}

#timerSection {
  padding: 15px 10px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}
#progress {
  padding: 10px;
}
#slideSource {
  padding: 10px;
  background: #ccc;
}

#preview {
  min-height: 430px;
  background: #777;
}

#links {
  background: #fff;
  padding: 10px;
  text-align: right;
}
#links a { color: #000; }

#slidemenu {
  background: #fff;
  padding: 10px;
}
#slidemenu ul li {
  padding: 5px;
}

#sidebar { background: #ddd; }

#notes { 
  background: #ff9;
  font-size: 1.5em;
  min-height: 150px;
  max-height: 250px;
  overflow: auto;
  padding: 20px;
}

#notes ol, #notes ul {
  padding-left: 1em;
}
#notes ol {
  list-style-type: decimal;
}
#notes ul {
  list-style-type: disc;
}

.menu {
  height: 350px;
  max-height: 350px;
  overflow:auto;
}

.menu a {
  display: block;
  color: #000;
}
.menu > ul > li > ul {
  padding-left: 20px;
}
.menu > ul > li > a {
  padding: 10px;
  background: #eee;
}

.tBlue   { background: #79d; }
.tGreen  { background: #9d9; }
.tRed    { background: #d99; }
.tYellow { background: #dd9; }


/* I want this view to like, actually work on multiple screen sizes... */
#main { height: 100%; }
#sidebar, #preview { height: 75%; min-height: 430px; }

#slideSource { height: 8%; padding: 0; }
#progress { height: 5%; padding: 0; }
#timerSection { height: 5%; padding: 0; background-color: #ccc; border: none; }
#slidemenu { height: 82%; padding: 0; }
.menu { height: 100%; max-height: 100%; }

#bottom { height: 10%; }
#notes { height: 100%; min-height: 100%; max-height: 100%; font-size: 1em; }

