@media screen {
  /* explicitly size parent elements so the screen blanker works */
  html, body{
    height:100%;
  }

  body {
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      background:#333;
      overflow:hidden;
      margin:0;
      padding:0;
  }


  #preso,
  .slide {
      background: #fff;
      width: 1024px;
      height: 768px;
      margin-left:auto;
      margin-right:auto;
      overflow:hidden;
      -webkit-box-shadow:0 0 25px rgba(0,0,0,0.35);
      -moz-box-shadow:0 0 25px rgba(0,0,0,0.35);
      box-shadow:0 0 25px rgba(0,0,0,0.35);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

  .slide {
    font-size: 1.5em;
  }

  #preso, .slide.background-fit {
      background-size: contain;
  }

  #footer {
    background-color: #f2f2f2;
    -webkit-box-shadow:0 0 25px rgba(0,0,0,0.35);
    -moz-box-shadow:0 0 25px rgba(0,0,0,0.35);
    box-shadow:0 0 25px rgba(0,0,0,0.35);
    padding: 4px 8px;
    width: 100%;
    position:fixed;
    bottom: 0;
    z-index: 2147483647; /* max, see http://www.puidokas.com/max-z-index/ */
    display: none;
  }
  #followMode {
    display: none;
  }
  #pauseScreen {
      background: rgba(0, 0, 0, 0.85);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
      margin: auto;
      color: white;
      padding: 1em;
      z-index: 2147483647; /* max, see http://www.puidokas.com/max-z-index/ */
      text-align: center;
  }

  /* prevent large images from getting too out of hand */
  .content img {
    max-width: 100%;
    max-height: 100%;
  }
}

.slide .center {
  text-align: center;
  position: relative;
  /* for some reason, setting top to 50% is pushing the content too far down, no idea why */
  top: 42%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* plain (non-bullet) text */
.content > p,
.content > form > p {
    margin: 1em;
    text-align: center;
}

.content > blockquote,
.content > form > blockquote {
    margin: 2em;
}

.center img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* numbered lists are numbered */
.content ol {
    margin-left: 40px;
    text-align: left;
    padding-left: 40px;
}
.content ol > li {
    list-style: decimal;
    display: list-item;
}


/* ironically, normal lists have bullets and 'bullets' lists don't */
.content > ul,
.content > form > ul {
    list-style: disc;
    text-align: left;
    padding-left: 40px;
}
.content > ul > li,
.content > form > ul > li {
    padding: .5em;
    margin-left: 40px;
}

/* ironically, normal lists have bullets and 'bullets' lists don't */
.bullets > ul {
    list-style: none;
	padding-left: 0px;
}
.bullets > ul > li {
    text-align: center;
    padding: 25px;
}

.smbullets > ul > li {
    text-align: center;
    padding: 10px;
}

/* nested lists get their bullets back */
.content ul ul,
.content ol ul {
  list-style: disc;
  margin: 10px 10px;
  padding-left: 40px;
  text-align: left;
}

.bullets ul ul > li { font-size: 80%; }

.content .incremental.hidden {
  visibility: hidden;
}

.commandline code.command {
    color: #000;
}

.commandline code.result {
    color: #444;
}

.command h1 {
    white-space: pre;
}

.code {
    white-space: pre;
}

.subsection h1 {
    background: #008;
    color: #fff;
    padding: .25em;
}

h1,h2,h3 { text-align: center; margin: 0.5em 0; }

/* make this invisible as possible, while still rendering so that wkhtmltopdf doesn't ignore it */
.content h1.section_title {
  color: transparent !important;
  opacity: 0 !important;
  font-size: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

pre { margin: 1em 40px; padding: .25em; }

#navigation.hidden,
#stylepicker.hidden {
  position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden;
}

.notes, .handouts, .instructor, .solguide { display: none }

.offscreen { position:absolute; top:0; left:-9999px; overflow:hidden; }

#debugInfo,
#slideFilename {
  margin-left: 30px;
}

#notesInfo {
  margin-left: 30px;
  display: none;
}

img#disconnected {
  float: right;
  display: none;
}

#preshow { display: none; }
/* define the screen blocking view */
/* we define it as invisible because we use jQuery to animate its presentation */
#screenblanker {
  height: 100%;
  display: none;
}

#help {
  display: none;
  position:absolute;
  top: 5%;
  left: 25%;
  width: 50%;
  max-height: 90%;
  z-index: 2147483647;
  padding: 0 16px 16px 16px;
  border-radius: 4px;
  -webkit-box-shadow:0 0 25px rgba(0,0,0,0.35);
  -moz-box-shadow:0 0 25px rgba(0,0,0,0.35);
  box-shadow:0 0 25px rgba(0,0,0,0.35);
  background-color: #fff;
}

  #help div {
    padding: 6px 0;
  }

    #help h1 {
      border-bottom: 2px solid #ccc;
    }

    #help div + div {
      border-top: 1px solid #eee;
    }

    #help .description,
    #help .action,
    #help .hotkeys {
      display: inline-block;
      vertical-align: middle;
    }

    #help .description {
      width: 30%;
    }

    #help .action {
      width: 15%;
      color: gray;
    }

    #help .hotkeys {
      width: 25%;
    }

    #help .hotkeys .key {
      border: 1px solid #ccc;
      background-color: #dfdfdf;
      border-radius: 0.25em;
      padding: 0.15em 0.5em;
      margin: 0.25em;
    }

#presenterPopup {
  display: none;
  position: absolute;
  z-index: 2147483647;
  top: 24px;
  left: 25%;
  max-height: 80%;
  width: 50%;
  border-radius: 0 0 .5em .5em;
  border-bottom: 8px solid #222222;
  background-color: #222222;
  overflow: auto;
}

  #presenterPopup h1,
  #presenterPopup h3 {
   color: #ffffff;
  }

  #presenterPopup a {
    margin-left: 12px;
    color: #ffffff;
  }

  #presenterPopup ul#downloads {
    margin-left: 0;
    list-style-type: none;
  }

/**********************************
 ***       Table styling        ***
 **********************************/

.content table {
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
    width: 80%;
}

.content.small table {
    width: 90%;
}
.content.smaller table {
    width: 95%;
}

.content table th {
    border-bottom: 2px solid #ccc;
    padding: 0.5em;
}

.content table tr td {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #efefef;
    text-align: center;
    padding: 0.5em;
}

.content table tr td:last-child {
    border-right: none;
}

.content table li {
    list-style-type: disc;
}


/**********************************
 ***      Sidebar styling       ***
 **********************************/
#hamburger {
  position: fixed;
  padding: 4px 8px;
  opacity: .05;
  border-radius: .1em;
  transition: all .2s;
  z-index: 2147483647;
  float: left;
}

#hamburger:hover {
  opacity: 1;
  background-color: #1abc9c;
  color: #ffffff;
}

#feedbackSidebar,
.submenu {
  display: none;
}

.sideMenu {
  position: absolute;
  height: 100%;
  width: 240px;
  padding-top: 24px;
  background-color: #f2f2f2;
  box-shadow:0 0 25px rgba(0,0,0,0.35);
  overflow: auto;
  z-index: 2147483647;
}

.sideMenu textarea {
  min-height: 80px;
  width: 90%;
  margin: 8px;
  border-color: #dddddd;
  border-radius: .3em;
}

.sideMenu p {
  text-align: center;
  margin: 0;
}

.sideMenu i {
  margin-right: 8px;
}

.buttonWrapper {
  display: inline-block;
  line-height: 48px;
  width: 100%;
  padding: 0 16px;
  font-weight: bold;
}

.buttonWrapper:hover {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.buttonWrapper.split {
  float: left;
  width: 50%;
  line-height: 30px;
  margin: 12px 0;
  padding: 0;
  text-align: center;
}

.buttonWrapper.split i {
  margin-right: 0;
}

.submenu {
  background-color: #cccccc;
}

/* End Sidebar styling */

.fg-menu-container {
  z-index: 2147483647; /* max, see http://www.puidokas.com/max-z-index/ */
}

.fg-button { clear:left; margin:0 4px 40px 20px; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
a.fg-button { float:left; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.fg-button.ui-state-loading .ui-icon { background: url(spinner_bar.gif) no-repeat 0 0; }

#navmenu {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  z-index: 2147483647; /* max, see http://www.puidokas.com/max-z-index/ */
}

.results {
  background-color:#002200;
  color:#00AA00;
  border:2px solid black;
  position: fixed;
  top:0px;
  width:100%;
  padding:15px;
  margin:0px;
  z-index: 2147483647; /* max, see http://www.puidokas.com/max-z-index/ */
}

.results pre {
  margin: 0;
  padding: 0;
}

/* Add a Shell "code highlighting" style to resemble the look of a terminal window. */
.content pre.highlight code.language-shell {
  display: block;
  background-color: black;
  color: green;
  border: 2px solid #ddd;
  padding: 0.5em;
  overflow: hidden;
}

/* executable code blocks */
code.execute {
  cursor: context-menu;
  background-image: url(run_code.png);
  background-position: right 5px top 5px;
  background-repeat: no-repeat;
  display: block;
  min-height: 42px;
}

code.executing {
  opacity: 0.5;
  background-image: url(run_code-dim.png);
}

code.executing:hover {
  cursor: wait;
}

#tips, #preshow_timer {
  display:inline;
  background-color:#000;
  color:#fff;
  border:2px solid black;
  position: fixed;
  padding:25px;
  margin:0px;
  z-index: 2147483647; /* max, see http://www.puidokas.com/max-z-index/ */
}

#tips {
  top: 0px;
  right: 0px;
  text-align:right;
}

#preshow_timer {
  bottom: 0px;
}

/**********************************
 ***     table of contents      ***
 **********************************/
#toc a {
  text-decoration: none;
}
#toc a::after {
  content: leader(".") target-counter(attr(href), page);
}

/**********************************
 ***       form widgets         ***
 **********************************/
.element {
  padding-left: 40px;
}
.element label {
  margin-left: 0.5em;
}

.element textarea {
  display: block;
  width: 85%;
}

.element ul {
  margin-left: 40px;
}

.warning {
  background-color: #ff7373;
}
.tools {
  position: absolute;
  bottom: 40px;
  right: 20px;
}

.tools input[type=submit],
.tools input[type=button] {
  margin: 1em;
}
.tools input[type=submit].dirty {
  color: red;
}
.tools input[type=button].display {
  display: none;
}

.rendered {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin: 1em;
  padding: 0.25em 0.25em 0.25em .5em;
  min-height: 3em;
}

.rendered label {
  border-bottom: 1px solid #999;
}
.rendered .item {
  display: block;
  width: 0;
  height: 1.25em;
  white-space: nowrap;
  opacity: 0.5;
  border-radius: 0 0.5em 0.5em 0;
  margin: 2px 0;
}
.rendered .item.correct {
  border-left: 4px solid black;
  opacity: 1.0;
}
.count {
  display: none;
}

.barstyle:nth-child(5n + 0) { background-color: #bb73bb; }
.barstyle:nth-child(5n + 1) { background-color: #59b859; }
.barstyle:nth-child(5n + 2) { background-color: #e3742f; }
.barstyle:nth-child(5n + 3) { background-color: #48a2ee; }
.barstyle:nth-child(5n + 4) { background-color: #f75d5d; }

#notes .form.wrapper {
  display: none;
}

/**********************************
 ***   supplemental materials   ***
 **********************************/
#slides.supplemental .slide {
  max-height: none !important;
  height: auto;
  padding: 0.5em;
  width: 8.1in;
}

.supplemental h1,
.supplemental h2,
    .supplemental h3,
    .supplemental h4,
    .supplemental h5,
    .supplemental h6 { text-align: left; }

.supplemental img { max-width: 7in; }

.supplemental ul { list-style: disc; margin-left: 1.25em !important; padding-left: inherit !important; }

/* downloads page */
/* we want scrolls! */
body#download {
  overflow:auto;
  height: auto;
}

body#download ul#downloads {
    margin-left:  20%;
    list-style-type: disc;
}
body#download ul#downloads li {
    margin: 0.5em;
}

/**********************
 ***   stats page   ***
 **********************/
/* we want scrolls! */
body#stats {
  overflow:auto;
  height: auto;
}

/* apply some nifty rounding styles to the row */
#stats div.row {
  position: relative;
  margin: 0.25em 1em;
  padding: 0.1em;
  background-color: #dfdfdf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* and to the bar inside the row */
#stats div.bar {
  height: 1.25em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* position the label to the top left and time to the top right */
#stats div.row span.label {
  position: absolute;
  top: 0.15em;
  left: 0.25em;
}
#stats div.time {
  position: absolute;
  top: 0.15em;
  right: 0.25em;
}

/* style all three boxes */
#stats div#least,
#stats div#most,
#stats div#all {
  width: 45%;
  border: 1px solid black;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
}

/* least box */
#stats div#least {
  float: left;
  margin-left: 3%;}
#stats div#least div.bar {
  background: #f5f56f;
}

/* most box */
#stats div#most {
  float: right;
  margin-right: 3%;
}
#stats div#most div.bar {
  background: #f45f5f;
}

/* listing of all stats */
#stats div#all {
  clear: both;
  position: relative;
  top: 3em;
  margin: 0 3% 5em 3%;
  width: 94%;
}
#stats div#all div.bar {
  background: #66b366;
}

/* detail view */
#stats div#all div.detail {
  margin: 0 5em 0 1em;
}
#stats div#all div.detail div.bar {
  background: #8484dd;
}
/**********************
 *** end stats page ***
 **********************/

/* iPhone */
/* Portrait */
@media screen and (max-width: 320px)
{
  html,body,#footer {
    min-width: 320px !important;
    max-width: 320px !important;
    width: 320px !important;
    margin: 0;
    padding: 0;
  }
  body > #preso {
    width: 976px;
    zoom: 0.32;
  }
  #preso .slide {
    width: 100%;
    margin: 0;
    padding: 0;
  }

}

/** Print **/
@media print {
  #sidebarWrapper,
  #sidebar,
  #sidebarHandle {
    display:none,
  }

  #preso, .slide {
    border: 1px solid #999;
  }

  .slide .center {
    width: 800px;
    height: 600px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  #preso, .slide {
      background: #fff;
      width: 800px;
      height: 600px;
      margin-left:auto;
      margin-right:auto;
      overflow:hidden;
  }

  /* prevent large images from running off the page */
  .content img {
    max-width: 7in;
    max-height: 9.5in;
  }

  #footer {
      background: #eee;
      padding: 2px;
      width: 590px;
      height: 20  px;
      margin-left:auto;
      margin-right:auto;
  }

  /* page break styling */
  div.break {
    page-break-after: always;
    font-size: small;
    font-style: italic;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
