{% assign pages = site.pages | sort:"weight"  %}
<section id="toc">
  <ul>
    {% for p in pages %}
      <li {% if p.url == page.url %}class="active"{% endif %}><a href="{{site.baseurl}}{{ p.url }}">{{ p.title }}</a></li>
      {% if p.url == '/quickstart.html' and (page.url == '/quickstart.html' or page.url contains 'tutorials') %}
          <li><ul>
            {% for t in site.tutorials %}
              <li {% if t.url == page.url %}class="active"{% endif %}><a href="{{site.baseurl}}{{ t.url }}">{{ t.title }}</a></li>
            {% endfor %}
          </ul></li>
      {% endif %}
    {% endfor %}
    <li><a href="{{site.baseurl}}/documentation/index.html" target="showoff_docs">User Manual</a></li>
    <li><a href="https://github.com/puppetlabs/showoff/blob/master/LICENSE">License</a></li>
  </ul>
</section>
